
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="count" class="bg-container">
    <header class="head">
        <div class="main-bar">
            <div class="row no-gutters">
                <div class="col-sm-5 col-lg-6 skin_txt">
                    <h4 class="nav_top_align">
                        <i class="fa fa-pencil"></i>
                        Điểm Danh
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <div class="outer">
        <div class="inner bg-container">
            <div class="row">
                <div class="col-12 col-xl-6" style="margin:auto;">
                    <div class="card">
                        <div class="card-header bg-white">
                            ĐIỂM DANH
                        </div>
                        <div v-if="!isSet" class="card-block">
                            <div style="width:50%; margin:auto;">
                                <div class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group row" style="padding-top:10px;">
                                            <div class="col-lg-10 push-lg-1">
                                                <h1 class="text-danger">{{Error}}</h1>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div v-else class="card-block">
                            <div style="width:50%; margin:auto;">
                                <div class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group row" style="padding-top:10px;">
                                            <div class="col-lg-10 push-lg-1">
                                                <h1>Bạn chưa điểm danh</h1>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-11 push-lg-1">
                                                <button class="btn btn-primary layout_btn_prevent" v-on:click="CountToday()" style="margin-left:25%;">Điểm Danh</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.inner -->
    </div>

</div>

<script>
    new Vue({
        el: '#count',
        data: {
            isCount: false,
            Error: null,
            isSet: false
        },
        mounted() {
            axios
                .get(API_BASE_URL + '/RollCall/IsMonthlyScheduleSet')
                .then(response => {
                    console.log(response.data.success);
                    if (response.data.success) {
                        this.Error = null;
                        this.isSet = true;
                    }
                    else {
                        this.Error = response.data.content;
                        this.isSet = false;
                    }
                })
        },
        methods: {
            CountToday: function () {
                axios
                    .post(API_BASE_URL + '/RollCall/Count')
                    .then(response => {
                        //console.log("response.success = " + response.success);
                        console.log(response.data.success);
                        if (response.data.success) {
                            iziToast.success({
                                title: 'Thành công',
                                message: 'Điểm danh thành công',
                                position: 'bottomLeft'
                            });
                        }
                        else {
                            this.Error = response.data.content;
                            iziToast.error({
                                title: 'Không thành công',
                                message: 'Điểm thanh không thành công',
                                position: 'bottomLeft'
                            });
                        }
                    })
            }
        }
    })
</script>

