
@{
    ViewBag.Title = "Internal";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>500 PNF | PORTAL </title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->

    <link rel="shortcut icon" href="~/Content/img/logo-blue.png" />



    <link rel="stylesheet" href="~/Content/Page500/css/style.css">

</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
    <body class="loading">
        <h1>500</h1>
        <h2>Server xảy ra lỗi xin vui lòng thử lại sau <b>😢</b></h2>
        <h2>Nhấn vào đây để trở lại <a href='@Url.Action("Index","Home")'>Trang Chủ</a></h2>
        <div class="gears">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    </body>


    <script src="~/Content/Page500/js/index.js"></script>


</body>
</html>


